article {
    min-height: 500px;
    background: var(--darkBlueColor)
}

article .container h1 {
    font-family: 'Playfair Display', serif;
}

article .container .box {
    min-height: 270px;
    background: var(--darkBlueColor);
    /* border: 1px dotted rgba(226, 16, 69, 0.744); */
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
    margin-bottom: 40px;
}

article .container .box.animate {
    opacity: 1;
    transform: translateY(0);
}

article .container .box .yourself {
    color: var(--red-color)
}

article .container .box .screenshotThird,
article .container .box .screenshot{
    height: 200px;
    margin: 10px;
    position: relative;
    display: inline-block;
    transition: 0.5s;
}

article .container .box .screenshot {
    width: 45%;
}
article .container .box .screenshotThird {
    width: 25%;
}

article .container .box .screenshot img,
article .container .box .screenshotThird img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

article .container .screenshot:hover,
article .container .screenshotThird:hover {
    transform: scale(1.03, 1.03);
} 