@media (max-width:768px) {
    header .container {
        position: fixed;
        min-height: inherit;
        z-index: 99;
        background: var(--darkBlueColor);    
    }

    header .d-flex ul {
        min-height: 62px;
        display: none;
        position: absolute;
        top: 62px;
        right: 0;
        width: 100%;
        padding: 0;
        background: var(--darkBlueColor);
        transform: translate(0, -130%);
        transition: 300ms;
        z-index: 10;
        opacity: 0;
    }

    header .d-flex .d-flex .nav_open {
        opacity: 100%;
        transform: translate(0, 0);
    }

    header .d-flex li {
        padding: 12px 0;
        text-align: center;
        transition: none;
    }

    header .d-flex li:hover {
        background: var(--blueColor);
        transform: none;
    }

    header .nav a:hover::after {
        width: 100%;
    }

    header .burger {
        display: block;
    }

    .strip .container .box {
        width: 45%;
    }

    .strip .container .box:nth-child(3) h4 {
        font-size: 18px;
    }

    section .row .project,
    section .row .project-github {
        height: 320px;
        width: 320px;
    }

    /* article */
    article .container .box .screenshot,
    article .container .box .screenshotThird {
        width: 80%;
    }

}

@media (max-width:991px) {
    .strip .container .box {
        width: 40%;
    }
}